.DS_Store*
.gitignore

*.txt
*.log

admin

course/*-cuts*
course/slides/*
!course/slides/*.md
!course/slides/*.sty
!course/slides/*.tex
!course/slides/images

course/guide/*/*
!course/guide/README.md
!course/guide/cfg/*
!course/guide/img/*
!course/guide/*.cls
!course/guide/*.def
!course/guide/*.tex
!course/images
!course/*week[0-9].tex

data/*
!data/README*
!data/*.zip

code/*
!code/README*
!code/*.do