.DS_Store
.gitignore

*.txt
*.log

admin

course/*-cuts*
course/slides/*
!course/slides/*.md
!course/slides/*.sty
!course/slides/*.tex
!course/slides/images

course/guide-old
course/guide/*
!course/guide/config
!course/guide/images
!course/guide/*.bib
!course/guide/*.cls
!course/guide/*.def
!course/guide/*.md
!course/guide/*.Rnw
!course/guide/*.sty
!course/guide/*.tex

data/*
!data/README*
!data/*.zip

code/*
!code/README*
!code/*.do