.DS_Store
.gitignore
*.dta
*.txt

admin

course/*
!course/syllabus.pdf
!course/Stata-Guide-2012.pdf

data/*
!data/README*
!data/*.zip

code/*
!code/*.do

setup/dev/*

*.aux
*.bbl
*.blg
*-blx.bib
*.ilg
*.ild
*.ind
*.idx
*.lof
*.log
*.lot
*.nav
*.out
*.ppt
*.snm
*.sty
*.synctex.gz
*.tex
*.tex.bak
*.toc
*run.xml

*.chproj
*.tmproj
.Rproj.user